<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <%- include ('partials/messages') %>
                <form action="/user/register" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="steam_profile">Steam profile ID</label>
                        <input type="text" id="steam_profile" name="steam_profile" class="form-control" placeholder="https://steamcommunity.com/id/*profile_id*/" value="<%= typeof steam_profile != 'undefined' ? steam_profile : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="main_char">Main character</label>
                        <select class="form-select" id="main_char" name="main_char">
                            <option>Akuma</option>
                            <option>Alisa Bosconovitch</option>
                            <option>Anna Williams</option>
                            <option>Armor King</option>
                            <option>Asuka Kazama</option>
                            <option>Bob Richards</option>
                            <option>Bryan Fury</option>
                            <option>Claudio Serafino</option>
                            <option>Craig Marduk</option>
                            <option>Devil Jin</option>
                            <option>Eddy Gordo</option>
                            <option>Eliza</option>
                            <option>Fahkumram</option>
                            <option>Feng Wei</option>
                            <option>Ganryu</option>
                            <option>Geese Howard</option>
                            <option>Gigas</option>
                            <option>Heihachi Mishima</option>
                            <option>Hwoarang</option>
                            <option>Jack-7</option>
                            <option>Jin Kazama</option>
                            <option>Josie Rizal</option>
                            <option>Julia Chang</option>
                            <option>Katarina Alves</option>
                            <option>Kazumi Mishima</option>
                            <option>Kazuya Mishima</option>
                            <option>King</option>
                            <option>Kuma</option>
                            <option>Kunimitsu</option>
                            <option>Lars Alexandersson</option>
                            <option>Lee Chaolan</option>
                            <option>Lei Wulong</option>
                            <option>Leo Kliesen</option>
                            <option>Leroy Smith</option>
                            <option>Lidia Sobieska</option>
                            <option>Lili de Rochefort</option>
                            <option>Ling Xiaoyu</option>
                            <option>Lucky Chloe</option>
                            <option>Marshall Law</option>
                            <option>Master Raven</option>
                            <option>Miguel Caballero Rojo</option>
                            <option>Negan Smith</option>
                            <option>Nina Williams</option>
                            <option>Noctis Lucis Caelum</option>
                            <option>Panda</option>
                            <option>Paul Phoenix</option>
                            <option>Sergei Dragunov</option>
                            <option>Shaheen</option>
                            <option>Steve Fox</option>
                            <option>Yoshimitsu</option>
                            <option>Zafina</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="steam_profile">Other information</label>
                        <textarea type="text" maxlength="1000" id="description" name="description" class="form-control" placeholder="e.g. short bio/social media links/submain characters" rows="3"><%= typeof description != 'undefined' ? description : '' %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
                </form>
                <p class="lead mt-4">Have An Account? <a href="/user/login">Login</a></p>
        </div>
    </div>
</div>